 li{
    list-style-type:none;
    
 }
 a{
    text-decoration: none;
 }

 input[type='radio'] {
    width: 20px;
    height: 20px;
    border: 2px solid #747474;
    border-radius: 20%;
    outline: none;
    opacity: 0.6;
    transition: 0.3s;
  }
  
  input[type='radio']:hover:before {
    box-shadow: 0px 0px 0px 5px rgba(80, 80, 200, 0.2);
    border-radius: 50%;
    opacity: 1;
  }
  
  input[type='radio']:before {
    content: '';
    display: block;
    width: 60%;
    height: 60%;
    margin: 20% auto;    
    border-radius: 50%;
  }
      
  input[type='radio']:checked:before {
    background: blue;
  }
  
  #account{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    max-width: 80%; 
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 5px grey;
    padding: 50px;
  }

  #account a{
    text-decoration: none;
  }

  .separation {
    width: 100%;
    height: 1px; 
    background-color: #ccc; 
    margin: 20px 0; 
}
.petit{
    font-size: 10px;
}


.form-register div{
  margin: 10px;
  
}

.form-register label{
  display: block;
  
}

.form-login{
      /* display: none; */
}

.form-register{
  position: absolute;
  transform: translateX(400px);
}
  
 