 *{
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans';
 }
 

 body{
   padding: 16px;
 }

  
 .hidden {
   display: none;
 }

 

/* Partie header Leboncoin */

.marginPage:not(.headerBorder){
   margin-left: 20%;
   
}

.headerBorder{
   border-bottom: 0.5px solid rgba(163, 163, 163, 0.3);

}

.headerDiv{
   display: inline-block;
   
}

a{
   text-decoration: none;
   color: black;
}




.logo{
   align-content: center;
   height: 60px;
   width: 140px;
}

.ul nav{
   display: flex;
}

.nav {
   list-style-type: non;
   text-align: center;
   margin: 0;
   padding: 0;
}
.nav li {
   display: inline-block;
   font-size: 16px;
   padding: 5px;
   margin-bottom: 10px;
}

.category:hover{
   border-bottom: 3px solid black;
   transition: all 0.3s ease-out;
}

.elementsDescription li{
   display: inline-block;

}

/* .nav li::after {
   display: inline-block;
   color: #000;
   content: '•';
   font-weight: bold;
} */

input[type='image']{
   width: 24px;
   height: 24px;
   

}
.form-register input{
   padding: 15px;
   display: block;
   border-radius: 14px;
   width: 400px;

   
}
.form-register{
   background-color: white;
   border: 1px solid #333; 
   padding: 20px;
   box-shadow: 2px 5px 2px 2px grey;
   width: 50%;
   border-radius: 20px;
}


.form .login{  
   padding: 5px;
   
}
.login input{
   height: 50px;
   width: 500px;
   border-radius: 14px;
}

.login button{
   height: 50px;
   width: 500px;
   border-radius: 14px;
   background-color: rgb(247, 120, 47);
  
}




.form-login{
   position: relative;
   margin: 50px; 
   
   
}

.buttonMySearch{
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.buttonMySearch:hover{
   border-bottom: 4px solid orange;
   transition: all 0.3s ease-out;
   
}

.buttonFavorite{
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.buttonFavorite:hover{
   border-bottom: 4px solid orange;
   transition: all 0.3s ease-out;
}

.buttonMessages{
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.buttonMessages:hover{
   border-bottom: 4px solid orange;
   transition: all 0.3s ease-out;
}

.buttonLogin{
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.buttonLogin:hover{
   border-bottom: 4px solid orange;
   transition: all 0.3s ease-out;
}


#headerFunctionalities{
   display: flex;
   padding: 16px;
   justify-content: space-around;
}


div span{
   align-content: center;
}

#buttonPostDeposit {
   border: 0;
   /* line-height: 2.5; */
   padding: 10px;
   margin: 10px;
   font-size: 16px;
   font-weight: bold;
   text-align: center;
   text-shadow: 1px 1px 1px #000;
   color: #fff;
   border-radius: 14px;
   background-color: rgb(247, 120, 47);
 }

 #buttonPostDeposit:hover {
   background-color: rgba(250, 133, 66, 0.808);
 }

 #buttonPostDeposit:active {
   box-shadow:
     inset -2px -2px 3px rgba(255, 255, 255, 0.6),
     inset 2px 2px 3px rgba(0, 0, 0, 0.6);
 }
 .buttonSaveSearch{
   border: 0;
   line-height: 2.5;
   padding: 0 20px;
   font-weight: bold;
   font-size: 16px;
   text-align: center;
   color: #fff;
   text-shadow: 1px 1px 1px #000;
   border-radius: 14px;
   background-color: rgb(247, 120, 47);
   position: sticky;
   
 }


 #search{
   padding: 10px;
   margin: 10px;
   border-radius: 14px;
   background-color: rgba(58, 71, 87, 0.1);

 }

 #search:focus {
   padding-right: 150px;

 }
 