 *{
  margin: 0;
  padding: 0;
  font-family: 'Nurito Sans', ui-sans-serif;
 }
 

 body{
   padding: 16px;
 }

  


/* Partie header Leboncoin */


header{
   display: inline-block;

}


.logo{
   align-content: center;
   height: 60px;
   width: 140px;
}

.ul nav{
   display: flex;
}

.nav {
 list-style-type: non;
 text-align: center;
 margin: 0;
 padding: 0;
}
.nav li {
font-family: sans-serif ;
 display: inline-block;
 font-size: 16px;
 padding: 5px;
}
/* .nav li::after {
   display: inline-block;
   color: #000;
   content: '•';
   font-weight: bold;
} */

input[type='image']{
   width: 24px;
   height: 24px;
   

}

.buttonMySearch{
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.buttonFavorite{
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.buttonMessages{
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.buttonLogin{
   display: flex;
   flex-direction: column;
   justify-content: center;
}


#headerFunctionalities{
   display: flex;
   padding: 16px;
   justify-content: space-around;
}


div span{
   align-content: center;
}

.buttonPostDeposit {
   border: 0;
   /* line-height: 2.5; */
   padding: 10px;
   margin: 10px;
   font-size: 16px;
   font-weight: bold;
   text-align: center;
   text-shadow: 1px 1px 1px #000;
   color: #fff;
   border-radius: 14px;
   background-color: rgb(247, 120, 47);
 }

 .buttonPostDeposit:hover {
   background-color: rgba(250, 133, 66, 0.808);
 }

 .buttonPostDeposit:active {
   box-shadow:
     inset -2px -2px 3px rgba(255, 255, 255, 0.6),
     inset 2px 2px 3px rgba(0, 0, 0, 0.6);
 }
 .buttonSaveSearch{
   border: 0;
   line-height: 2.5;
   padding: 0 20px;
   font-weight: bold;
   font-size: 16px;
   text-align: center;
   color: #fff;
   text-shadow: 1px 1px 1px #000;
   border-radius: 14px;
   background-color: rgb(247, 120, 47);
   position: sticky;
 }


 .search{
   padding: 10px;
   margin: 10px;
   border-radius: 14px;

 }
 