#formUpdatePost{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#divInfoPost{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#divInfoPost form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#divInfoPost h3 a:hover {
    color: orange;
}

#divImagePost{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#divImagePost img{
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 5px;
}
