
.filterBar{
    display: flex;
    margin: 10px;
}

.filterBar div{
    margin-right: 10px;
    border: 0.3px solid rgb(163, 163, 163);
    border-radius: 10px;
    padding: 7px;


}

.filterBar div input{
    border: none;

}

.plusMinusTraveler{
    border-radius: 50% 50% 50% 50%;
    border: 1px solid black;
    padding: 5px;
 
}

#divMap{
    display: flex;
    justify-content: flex-end;
}





